// === layout ===

$menu_w: 150px

$padding_s: 3px
$padding_m: 8px
$padding_l: 16px

// === font ===

$fs_default: 16px
$fs_s: 14px
$fs_l: 20px
$fs_xl: 24px

$lh_default: 24px

// === color ===

$c_white: #fff
$c_black: #000

$c_main: $c_black

// === dom size ===

$rb_size: 15px
