@import "global"

$menu_border_w: 5px

.layout
  overflow-x: hidden
  .lo-menu
    display: none
  .lo-main
    margin-left: 0px
    padding: $padding_s $padding_s $footer_h $padding_s
  .lo-footer
    display: block
    position: fixed
    bottom: 0px
    right: 0px
    left: 0px
  .lo-mobile-only
    display: none
  .lo-desktop-only
    display: block
  .lo-menu-bg
    display: none
.lo-open-menu
  .lo-menu
    display: block
    position: fixed
    width: $menu_w - $menu_border_w
    bottom: $footer_h
    top: 0px
    border-right: $menu_border_w solid $c_menu_border
    background: $c_menu_bg
  .lo-main
    margin-left: $menu_w
    padding: $padding_s $padding_s $footer_h $padding_s

@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
  .layout
    .lo-menu
      display: none
    .lo-main
      margin-left: 0px
      padding-left: $padding_s
    .lo-mobile-only
      display: block
    .lo-desktop-only
      display: none
    .lo-menu-bg
      display: none
  .lo-open-menu
    .lo-menu
      display: block
    .lo-main
      margin-left: $menu_w
      margin-right: -$menu_w
    .lo-menu-bg
      display: block
      position: fixed
      top: 0px
      bottom: 0px
      left: 0px
      right: 0px
