@import "global"

.layout
  .lo-menu
    position: fixed
    width: $menu_w
  .lo-main
    margin-left: $menu_w
    padding: $padding_s $padding_s $padding_s 0px
  .lo-footer
    border-top: 1px $c_main solid
    text-align: right
