/* line 17, /Users/wangkaito/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, /Users/wangkaito/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, /Users/wangkaito/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, /Users/wangkaito/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, /Users/wangkaito/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, /Users/wangkaito/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, /Users/wangkaito/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, /Users/wangkaito/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, /Users/wangkaito/.rvm/gems/ruby-2.0.0-p353/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/_layout.sass */
.layout .lo-menu {
  position: fixed;
  width: 150px;
}
/* line 7, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/_layout.sass */
.layout .lo-main {
  margin-left: 150px;
  padding: 3px 3px 3px 0px;
}
/* line 10, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/_layout.sass */
.layout .lo-footer {
  border-top: 1px black solid;
  text-align: right;
}

/* line 10, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/partial/_menu.sass */
.menu .mu-entry {
  display: block;
  padding: 5px;
  margin: 3px 0px 3px 3px;
  border-right: 1px black solid;
  border-left: 5px black solid;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}
/* line 8, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/partial/_menu.sass */
.menu .mu-entry a {
  text-decoration: none;
}
/* line 16, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/partial/_menu.sass */
.menu .mu-brand {
  display: block;
  padding: 5px;
  margin: 3px 0px 3px 3px;
  padding: 15px 0px;
  border-right: 5px black solid;
  border-left: 5px black solid;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
/* line 8, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/partial/_menu.sass */
.menu .mu-brand a {
  text-decoration: none;
}
/* line 26, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/partial/_menu.sass */
.menu .mu-icon {
  padding-right: 3px;
}

/* line 4, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/partial/_header.sass */
.header .hd-title {
  padding: 16px;
  font-size: 20px;
  background: black;
  color: white;
}

/* line 1, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/partial/_footer.sass */
.footer {
  display: table;
  float: right;
}
/* line 4, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/partial/_footer.sass */
.footer .ft-item {
  height: 30px;
  display: table-cell;
  vertical-align: middle;
  padding: 3px;
  font-size: 14px;
}

/* line 7, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/partial/_post.sass */
.post .pt-title {
  padding: 16px;
  font-size: 20px;
  background: black;
  color: white;
}
/* line 12, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/partial/_post.sass */
.post .pt-info {
  float: right;
  padding-right: 16px;
}
/* line 15, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/partial/_post.sass */
.post .pt-info-icon {
  padding: 8px;
}
/* line 18, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/partial/_post.sass */
.post .pt-info-date a {
  margin: 3px;
  text-decoration: none;
  line-height: 15px;
  color: black;
}
/* line 23, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/partial/_post.sass */
.post .pt-content {
  margin: 16px;
}
/* line 26, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/partial/_post.sass */
.post p code {
  padding: 0px 3px;
  font-size: 1.25em;
  line-height: 1.2em;
}
/* line 29, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/partial/_post.sass */
.post pre {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  font-size: 1.1em;
}

/* line 6, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/partial/_home.sass */
.home .hm-content {
  margin: 16px;
}
/* line 8, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/partial/_home.sass */
.home .hm-entry {
  display: table;
  padding: 8px;
}
/* line 11, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/partial/_home.sass */
.home .hm-entry:hover {
  background: #eeeeee;
}
/* line 13, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/partial/_home.sass */
.home .hm-title {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
/* line 17, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/partial/_home.sass */
.home .hm-info-area {
  display: table-cell;
  vertical-align: middle;
  line-height: 24px;
}
/* line 21, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/partial/_home.sass */
.home .hm-info {
  display: table;
}
/* line 23, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/partial/_home.sass */
.home .hm-icon {
  display: table-cell;
  vertical-align: middle;
  padding: 3px 8px;
}
/* line 27, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/partial/_home.sass */
.home .hm-link {
  display: table-cell;
  vertical-align: middle;
}
/* line 30, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/partial/_home.sass */
.home .hm-tag {
  display: inline;
}
/* line 32, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/partial/_home.sass */
.home .hm-ctrl {
  display: table;
}
/* line 34, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/partial/_home.sass */
.home .hm-ctrl-row {
  display: table-row;
}
/* line 36, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/partial/_home.sass */
.home .hm-ctrl-icon {
  display: table-cell;
  padding: 8px;
}
/* line 39, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/partial/_home.sass */
.home .hm-ctrl-filter {
  display: table-cell;
}
/* line 41, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/partial/_home.sass */
.home .hm-ca-col {
  min-width: 125px;
  vertical-align: middle;
}

/* line 3, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/partial/_tag.sass */
.tag-filter input[type='radio'], .tag-filter input[type='checkbox'] {
  opacity: 0;
}
/* line 6, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/partial/_tag.sass */
.tag-filter input[type='radio'] + label.tag-label span.tag-icon, .tag-filter input[type='checkbox'] + label.tag-label span.tag-icon {
  margin: -12px 3px 3px 3px;
  cursor: pointer;
  display: block;
  padding: 3px;
  color: black;
  border: 1px black solid;
}
/* line 15, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/partial/_tag.sass */
.tag-filter input[type='radio']:checked + label.tag-label span.tag-icon, .tag-filter input[type='checkbox']:checked + label.tag-label span.tag-icon {
  color: white;
  background: black;
}
/* line 18, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/partial/_tag.sass */
.tag-filter .tag-opt {
  float: left;
}

/* line 6, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/_base.sass */
body {
  font-family: sans-serif;
}
/* line 8, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/_base.sass */
body a, body a:hover, body a:checked {
  color: black;
}

/* line 11, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/_base.sass */
code {
  font-family: monospace;
}

/* line 14, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/_base.sass */
.middle-list {
  display: table;
}
/* line 16, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/_base.sass */
.middle-list .ml-row {
  display: table-row;
}
/* line 18, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/_base.sass */
.middle-list .ml-cell {
  display: table-cell;
  vertical-align: middle;
}

/* line 24, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/_base.sass */
.layout .pt-title {
  padding: 16px;
  font-size: 20px;
  background: black;
  color: white;
}

/* line 30, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/_base.sass */
h1 {
  font-size: 1.5em;
  line-height: 2em;
}

/* line 32, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/_base.sass */
h2, h3, h4, h5, h6 {
  font-size: 1.25em;
  line-height: 1.2em;
}

/* line 34, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/_base.sass */
p {
  font-size: 1em;
  line-height: 1.5em;
}

/* line 38, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/_base.sass */
.tag-list a {
  margin: 3px 3px 3px 0px;
  padding: 3px;
  text-decoration: none;
  color: black;
  border: 1px black solid;
  border-bottom: 3px black solid;
}

/* line 46, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/_base.sass */
.meta {
  display: none;
}

/* line 13, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/_img.sass */
.img-clock-28x {
  background: url("../../app/images/clock_24x.svg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  background-size: 28px 28px;
  width: 28px;
  height: 28px;
}

/* line 13, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/_img.sass */
.img-category-28x {
  background: url("../../app/images/category_24x.svg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  background-size: 28px 28px;
  width: 28px;
  height: 28px;
}

/* line 13, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/_img.sass */
.img-china-28x {
  background: url("../../app/images/china_24x.svg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  background-size: 28px 28px;
  width: 28px;
  height: 28px;
}

/* line 13, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/_img.sass */
.img-paper-28x {
  background: url("../../app/images/paper_24x.svg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  background-size: 28px 28px;
  width: 28px;
  height: 28px;
}

/* line 13, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/_img.sass */
.img-person-28x {
  background: url("../../app/images/person_24x.svg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  background-size: 28px 28px;
  width: 28px;
  height: 28px;
}

/* line 13, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/_img.sass */
.img-tag-28x {
  background: url("../../app/images/tag_24x.svg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  background-size: 28px 28px;
  width: 28px;
  height: 28px;
}

/* line 13, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/_img.sass */
.img-clock-24x {
  background: url("../../app/images/clock_24x.svg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
}

/* line 13, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/_img.sass */
.img-tag-24x {
  background: url("../../app/images/tag_24x.svg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
}

/* line 13, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/_img.sass */
.img-category-24x {
  background: url("../../app/images/category_24x.svg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
}

/* line 13, /Users/wangkaito/workspace/scs/dev/scs-blog/src/sass/_img.sass */
.img-paper-24x {
  background: url("../../app/images/paper_24x.svg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
}
