@import "compass/typography/vertical_rhythm"

$list_h: 24px

.home
  .hm-content
    margin: $padding_m
  .hm-entry
    display: table
    padding: $padding_m
    &:hover
      background: $c_highlight
  .hm-title
    display: table-cell
    vertical-align: middle
    width: 100%
  .hm-info-area
    display: table-cell
    vertical-align: middle
    min-width: 600px
  .hm-info
    float: right
    .tp-list
      width: 150px
    .tp-date
      width: auto
  .hm-ctrl
    display: table
    width: 100%
  .hm-ctrl-title
    display: table-cell
    vertical-align: middle
    padding: 38px
    width: 100%
  .hm-ctrl-panel
    display: table-cell
    vertical-align: middle
    min-width: 500px

@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
  .home
    .hm-entry
      display: block
    .hm-title
      display: block
      margin-bottom: 5px
      border-left: 15px solid $c_main
      padding-left: 8px
      width: auto
    .hm-info-area
      display: block
      min-width: 0px
      width: 100%
      border-left: 1px solid $c_main
    .hm-info
      float: none
      .tp-list
        width: auto
    .hm-ctrl
      display: block
    .hm-ctrl-title
      display: block
      text-align: center
      padding: 12px 0px
    .hm-ctrl-panel
      display: block
      padding-bottom: 12px
