@import "compass/typography/vertical_rhythm"

$tag_icon_s: 15px

.post
  //+debug-vertical-alignment
  .pt-info-area
    float: right
    padding-right: $padding_l
  .pt-info
    float: right
  .pt-content
    margin: $padding_m
  p, li
    code
      padding: 0px $padding_s
      +adjust-font-size-to($fs_default)
      font-size: $fs_default
  pre
    +margin-leader(.5)
    +margin-trailer(.5)
    font-size: $fs_default
  ul
    +margin-leader(.5)
    +margin-trailer(.5)
  li
    +adjust-font-size-to($fs_default)
    &:before
      content: "• "
      font-size: $fs_default
      font-weight: bold

@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
  .post
    .pt-info-area
      float: none
      margin: $padding_m
    .pt-info
      float: none
