@import "compass/typography/vertical_rhythm"

$tag_icon_s: 15px

.post
  //+debug-vertical-alignment
  .pt-info-area
    float: right
    padding-right: $padding_l
  .pt-info
    float: right
  .pt-content
    margin: $padding_m
  p, li, table
    code
      padding: 0px $padding_s
  pre
    +margin-leader(.5)
    +margin-trailer(.5)
  ul
    +margin-leader(.5)
    +margin-trailer(.5)
  li
    +adjust-font-size-to($fs_default)
    &:before
      content: "• "
      font-size: $fs_default
      font-weight: bold
  table
    +margin-leader(.5)
    +margin-trailer(.5)
    tr
      &:hover
        background: $c_highlight
    td
      +adjust-font-size-to($fs_default)
      padding: 0px $padding_m

.pt-info
  .pi-btnlist
    padding: 0px 8px
  .pi-btn
    display: inline-block
    margin: 2px 3px
    border: 1px solid $c_main
  .pi-draft
    display: inline-block
    margin: 1px 3px
    padding: 4px
    border: 2px solid $c_main

@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
  .post
    .pt-info-area
      float: none
      margin: $padding_m
    .pt-info
      float: none
  .pt-info
    .pi-btnlist
      padding: 5px 5px
